
.about-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width:auto;
    min-height: 80vh;
}
.about-main{    
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin:3em;
    img{
        width: 15em;
        height: 20em;
    }
}

.about-list{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:50vw;
    li{
        margin: 1em;
    }
    span{
        margin-left: 1em;
    }
}

.contact-tabs{
    display:flex;
    flex-direction: row;
}
.contact-tabs-nav{
    display:flex;
    flex-direction: row;
    width:3em;
    height:3em;
    
    margin:.5em;
        img{
            width:3em;
            height:3em;
        }
        img:hover{
            border: 1px solid black;
            
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
        }
}

@media only screen and (max-width: 1000px) {
    .about-container{
        display:flex;
        flex-direction: column;
        width:auto;
        min-height: auto;
    }
    .about-main{    
        justify-content: center;
        margin:3em;
        img{
            width: 15em;
            height: 20em;
        }
    }
    .about-list{
        width:75vw;
        li{
            margin: 0.5%;
        }
        span{
            margin-left: 1em;
        }
    }
}