.home-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;   
}

.home_down{
    position: absolute;
    bottom: 0;
}

@media only screen and (max-width: 700px) {
    h1{
        text-size-adjust: 10%;
    }
}
