.slider-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: whitesmoke;
    min-height: 100vh;
}

.silder-items{
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.slider-item-div{
    padding: 2em;
    P {
        font-size: 14px;
    }
}

.slider-top{
    background-color: whitesmoke;
    width:100%;
    min-height: 10vh;
    border-top-left-radius:50%;
    border-top-right-radius:50%;
}

.slider-bottom{
    background-color: whitesmoke;
    width:100%;
    min-height: 10vh;
    border-bottom-left-radius:50%;
    border-bottom-right-radius:50%;
}

@media only screen and (max-width: 800px) {
    .silder-items{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: auto;
    }
    .slider-container{
        min-height: auto;
    }
  }